[Desktop Entry]
Version=1.0
Name=Appearance settings
Name[es]=Ajustes de apariencia
Name[gl]=Axustes de aparencia
Name[sv]=Inställningar för utseende
StartupNotify=true
Exec=shr-settings Appearance shr_elementary.Elementary shr_splash.Splash
Terminal=false
Type=Application
Categories=Settings;System;
Icon=shr_settings
