[Desktop Entry]
Version=1.0
Name=Appearance settings
StartupNotify=true
Exec=shr-settings Appearance shr_elementary.Elementary shr_splash.Splash
Terminal=false
Type=Application
Categories=Settings;System;
Icon=shr_settings
