[Desktop Entry]
Version=1.0
Name=Date/time settings
Name[es]=Ajustes de Fecha y hora
Name[gl]=Axustes de Data e hora
Name[sv]=Inställningar för datum & tid
StartupNotify=true
Exec=shr-settings Date/time shr_clock.Clock shr_date.Date
Terminal=false
Type=Application
Categories=Settings;System;
Icon=shr_settings
