[Desktop Entry]
Version=1.0
Name=GPS settings
StartupNotify=true
Exec=shr-settings GPS shr_gps.Gps shr_gpsinfo.GpsInfo
Terminal=false
Type=Application
Categories=Settings;System;
Icon=shr_settings
