[Desktop Entry]
Version=1.0
Name=Others
Name[es]=Otros ajustes
Name[gl]=Outros axustes
Name[sv]=Övriga inställningar
StartupNotify=true
Exec=shr-settings Others shr_services.Services shr_backup.Backup shr_imageinfo.ImageInfo shr_sim_manager.SimManager
Terminal=false
Type=Application
Categories=Settings;
Icon=shr-settings
