[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Other settings
StartupNotify=true
Exec=shr-settings Others shr_test.Test
Terminal=false
Type=Application
Categories=Settings;System;
Icon=shr_settings.png
