[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Phone settings
StartupNotify=true
Exec=shr-settings Phone shr_gsm.Gsm shr_call.Call shr_sim.Sim
Terminal=false
Type=Application
Categories=Settings;System;
Icon=shr_settings.png
