[Desktop Entry]
Version=1.0
Name=Position settings
StartupNotify=true
Exec=shr-settings Position shr_gps.Gps shr_gpsinfo.GpsInfo
Terminal=false
Type=Application
Categories=Settings;System;
Icon=shr_settings
