[Desktop Entry]
Version=1.0
Name=Services settings
StartupNotify=true
Exec=shr-settings Services shr_services.Services
Terminal=false
Type=Application
Categories=Settings;System;
Icon=shr_settings
