[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Settings
Name[ca]=Configuració
Name[es]=Configuración
Name[it]=Impostazioni
Name[pl]=Ustawienia
TryExec=shr-settings
GenericName=SHR Settings
Comment=Settings of SHR based Openmoko phone
Comment[ca]=Configuració del telèfon Openmoko amb SHR
Comment[es]=Configuración del teléfono Openmoko con SHR
Comment[pl]=Ustawienia systemu SHR dla telefonów Openmoko
StartupNotify=true
Exec=shr-settings
Terminal=false
Type=Application
Categories=Settings;
Icon=shr-settings
