[Desktop Entry]
Version=1.0
Name=Settings
Name[ca]=Configuració
Name[es]=Configuración
Name[fr]=Configuration
Name[it]=Impostazioni
Name[pl]=Ustawienia
Name[de]=Einstellungen
Name[gl]=Axustes
Name[nb]=Oppsett
Name[sv]=Inställningar
TryExec=shr-settings
GenericName=SHR Settings
Comment=Settings of SHR based Openmoko phone
Comment[de]=Einstellungen des SHR-Systems
Comment[ca]=Configuració del telèfon Openmoko amb SHR
Comment[es]=Configuración del teléfono Openmoko con SHR
Comment[fr]=Configuration du téléphone SHR
Comment[pl]=Ustawienia systemu SHR dla telefonów Openmoko
Comment[gl]=Configuración do teléfono Openmoko en SHR
Comment[sv]=Inställningar för SHR-baserad Openmoko-telefon
StartupNotify=true
Exec=shr-settings
Terminal=false
Type=Application
Categories=Settings;
Icon=shr-settings
